.container {
  padding: 0 2rem;
  background: #f9f9f9;
}

.heading {
  width: 100vw;
  background: #000;
  margin-bottom: 2rem;
}

.main {
  min-height: 100vh;
  padding: 0 0 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title {
  color: #fff;
  width: 900px;
  font-weight:100;
  margin: 1.6rem auto;
  line-height: 1.5;
  font-size: 1.7rem;
  letter-spacing: .1rem;
}

.date {
  font-weight: 500;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 940px;
}

.card {
  margin: 1rem;
  padding: 1.5rem 5rem 1.5rem 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 100%;
}

.card:nth-child(1) {
  background: #ffe1cb;
}

.card:nth-child(2) {
  background: #d4f6ec;
}

.card:nth-child(3) {
  background: #e2dbf9;
}

.card:nth-child(4) {
  background: #e0f2ff;
}

.card:nth-child(5) {
  background: #fbe2f3;
}

.card p {
  margin: 0;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.2em;
  padding-bottom:.4em;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.5em;
}

.card ul {
  padding-left:1.35rem;
  opacity: 0.8;
  font-weight: 600;
}

.card:hover ul {
  opacity: 1;
}

.card ul li {
  font-size: 1.15rem;
  line-height: 1.3em;
  padding-bottom: 0.5em;
  list-style-type: circle;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
